/* overwrites variables when mobile viewing is detected */
:root {
  --primary-font: 'Work Sans';
  height: 99%;
}

#root, .App, .mainPanelContainer, .mainPanel {
  height: 99%;
}

.mobile {
  --home-img-width: 35px;
  --sidebar-padding-left: 10px;
  --graph-step-size: 0.5;
}

* {
  font-family: "Work Sans";
  color: var(--main-font-color);
}

body {
  --home-img-width: 65px;
  --sidebar-padding-left: 25px;
  --graph-step-size: 0.2;
  background-color: var(--bg-color);
  font-size: 0.85em;
  line-height: 1.5;
  height: 100%;
  margin-bottom: 0px;
}


h2 {
  font-weight:lighter;
}

input {
  border-color: var(--main-font-color-high-alpha);
  border-radius: 3px;
  background: var(--textbox-bg);
  caret-color: var(--main-font-color-high-alpha);
  border-width: 0.5px;
}

input::placeholder {
  color : var(--textbox-placeholder-color)
}

input:focus {
  outline:none;
  place-content: none;
}

input:focus::placeholder {
  color:transparent;
}

input[type="checkbox"]:not(:checked) {
  appearance:none;
  -webkit-appearance:none;
  -moz-appearance:none;
  width: 20px;
  height: 20px;
  cursor:pointer;
  background: var(--input-bg-not-checked);
  background-size: 18px;
  background-position: center;
  opacity: 0.3;
  -webkit-transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}

input[type="checkbox"]:checked.today {
  background-size: 28px;
}

input[type="checkbox"]:not(:checked).today {
  background-size: 28px;
}

input[type="checkbox"]:checked {
  appearance:none;
  -webkit-appearance:none;
  -moz-appearance:none;
  width: 20px;
  height: 20px;
  cursor:pointer;
  background: var(--input-bg-checked);
  background-size: 18px;
  background-position: center;
  -webkit-transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}

input[type="checkbox"]:not(:checked):hover {
  opacity: 1;
}

input[type="checkbox"]:checked:hover {
  opacity: 0.6;
}

input {
  font-size: 16px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteButton img:hover {
  opacity: 1;
}

.checkboxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#deleteButton {
  content: var(--delete-button);
}

.deleteButton {
  padding-top: 2.5px;
  grid-column: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.deleteButton img {
  opacity: 0.4;
  width: 11px;
  padding-bottom: 3px; /* should be 2.5px for FF */
  -webkit-transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}

#calendarLeft {
  content: var(--calendar-left);
}

#calendarRight {
  content: var(--calendar-right);
}

.datePaginator {
  opacity: 0.4;
  -webkit-transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
  cursor: pointer;
}

.datePaginator:hover {
  opacity: 0.7;
}

#habitListContainer {
  padding: 10px 15px;
  max-width: min-content;
  min-width: min-content;
  margin: 0 auto;
}

.habitGrid {
  display: grid;
  grid-template-columns: 20em repeat(21, 1fr) auto;
  gap: 5px;
  align-items: center;
}

.dateLabelsRow,
.habitRow {
  display: contents;
}

.dateLabel {
  text-align: center;
  margin: 0 3px;
  font: 12px monospace;
  font-size: x-small;
}

.habitItem {
  text-align: left; 
  overflow:hidden;
  text-overflow:ellipsis; 
  white-space:nowrap;
  padding-right: 14px;
}

.habitLabel {
  grid-column: 1;
  padding-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: none;
}

.habitDates {
  grid-column: 2 / -2;
  display: contents;
}

.deleteButton {
  grid-column: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.lightMode #habitListContainer {
  background-color:#f79b9b;
  border-radius:3px;
}

.logout {
  color: var(--main-font-color-low-alpha);
  padding: 2px 7px;
  border: solid 0.5px var(--main-font-color-high-alpha);
  border-radius: 3px;
  font-size: 0.7rem;
  max-width: fit-content;
  background: var(--sidebar-shadow);
  cursor: pointer;
}

.logout:hover {
  color: var(--main-font-color);
}

.graph {
  --line-color: var(--graph-line-color);
  --bg-color: var(--graph-bg-color);
  --step-size: var(--graph-step-size);
  --grid-color: var(--graph-grid-color);
  width:60%;
  min-width: 300px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 35px;
  flex: 1;
}

.sidebar {
  position: sticky;
  top: 25px;
  padding-left: var(--sidebar-padding-left);
}

.sidebarOption {
  padding: 8px 0px 5px;
  opacity: 0.4;
  display: flex;
  justify-content: center;
  -webkit-transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}

.sidebarOption:hover {
  opacity: 1;
}

#sidebarShadow {
  background-color: var(--sidebar-shadow);
  padding: 5px 5px;
  border-radius: 3px;
}

.mobile #sidebarShadow {
  background-color: var(--sidebar-shadow);
  padding: 5px 5px 0px;
  border-radius: 3px;
}

#homeImg {
  -webkit-transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
  opacity: 0.4;
  content: var(--home-img-pic);
  width: var(--home-img-width);
  display: flex;
}

#homeImg:hover {
  opacity: 1;
}

.stickyContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  z-index: 0;
}

.mainPanel {
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.mainPanelContainer {
  z-index: 1000;
}

.monospaceText {
  font-family: var(--calendar-font);
}

.spaceEvenly {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.today {
  padding-right: 0px;
}

#lightModeSwitch {
  width: 25px;
  height: 25px;
  cursor:pointer;
  position: relative;
  top: 0px;
  background: var(--light-mode-switch-pic);
  background-size: 20px;
  opacity: 1;
}

#inputBtn {
  margin-left: 10px;
  padding: 2px 7px;
  border: solid 0.5px var(--main-font-color-high-alpha);
  border-radius: 3px;
  font-size: 0.75rem;
  color: var(--main-font-color-med-alpha);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

#inputBtn:hover {
  color: var(--main-font-color);
  box-shadow: 0px 0px 3px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  user-select: none;
  -webkit-user-select: none;
}

@font-face{
  font-family:"Work Sans";
  font-style:normal;
  font-weight:400;
  font-display:block;
  src:local("Work Sans"), url('https://s2.wp.com/wp-content/themes/pub/stewart/assets/fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
  font-stretch:normal;
}
