.darkMode {
  --main-font-color: #e3bcaf;
  --main-font-color-med-alpha: #e3bcafaa;
  --main-font-color-high-alpha: #e3bcaf77;
  --graph-grid-color: #e3bcaf5c;
  --graph-line-color: #e3bcaf;
  --graph-bg-color: #e3bcaf01;
  --bg-color: black;
  --calendar-font: monospace;
  --textbox-placeholder-color: #e3bcaf77;
  --delete-button: url("../images/delete.png");
  --calendar-left: url("../images/arrows/doubleLeft.png");
  --calendar-right: url("../images/arrows/doubleRight.png");
  --input-bg-not-checked: url("../images/circle.png") 3px 3px no-repeat;
  --input-bg-checked: url("../images/circle_filled.png") 2px 3px no-repeat;
  --light-mode-switch-pic: url("../images/sun.svg") 2px 3px no-repeat;
  --home-img-pic: url("../images/icon.gif");
  --sidebar-shadow: #ffffff15;
}