.darkMode {
  --main-font-color: #e3bcaf;
  --main-bg-color: #000000;
  --main-font-color-med-alpha: #e3bcafaa;
  --main-font-color-high-alpha: #e3bcaf77;
  --graph-grid-color: #e3bcaf5c;
  --graph-line-color: #e3bcaf;
  --graph-bg-color: #e3bcaf01;
  --bg-color: black;
  --main-bg-color: black;
  --calendar-font: monospace;
  --textbox-placeholder-color: #e3bcaf;
  --ellipsis-button: url("../images/ellipsis_dark.png");
  --delete-button: url("../images/delete.png");
  --delete-button-inverse: url("../images/delete_black.png");
  --calendar-left: url("../images/arrows/doubleLeft.png");
  --calendar-right: url("../images/arrows/doubleRight.png");
  --input-bg-not-checked: url("../images/circle-50.png") 1px 1px no-repeat;
  --input-bg-checked: url("../images/filled-circle-50.png") 1px 2px no-repeat;
  --light-mode-switch-pic: url("../images/sun.svg") 2px 3px no-repeat;
  --home-img-pic: url("../images/icon.gif");
  --sidebar-shadow: #ffffff15;
  --pin-button: url("../images/top_dark.svg");
  --unpin-button: url("../images/top_selected_dark.svg");
  --archive-button: url("../images/archive_dark.svg");
  --unarchive-button: url("../images/unarchive_dark.svg");
  --filter-button: url("../images/filter_dark.png");
  --dateSelector-background: url('../images/date_dark.png') no-repeat center;
  --category-dropdown-color-hover: #000;
  --category-dropdown-background-color: #000;
  --category-dropdown-border-color: #e3bcaf;
  --chevron-right: url("../images/chevron_right_dark.png");
  --chevron-down: url("../images/chevron_down_dark.png");
  --intro-bg-color: #00000000;
}