.lightMode {
  --main-font-color: rgb(70, 70, 70);
  --main-font-color-med-alpha: #505050aa;
  --main-font-color-high-alpha: #5050503b;
  --graph-ticks-color: #0000006c;
  --graph-line-color: #f79b9b;
  --graph-bg-color: #f79b9b;
  --accent-color: #00305f;
  --bg-color: #fafafa;
  --calendar-font: monospace;
  --textbox-bg: rgba(151, 151, 151, 0.05);
  --textbox-text-color: #000000;
  --textbox-placeholder-color: rgb(0, 0, 0);
  --delete-button: url("../images/delete_black.png");
  --calendar-left: url("../images/doubleLeft_black.png");
  --calendar-right: url("../images/doubleRight_black.png");
  --input-bg-not-checked: url("../images/circle_black.png") 3px 3px no-repeat;
  --input-bg-checked: url("../images/circle_filled_black.png") 2px 3px no-repeat;
  --light-mode-switch-pic: url("../images/sun_black.svg") 2px 3px no-repeat;
  --home-img-pic: url("../images/sunglasses.png");
  --sidebar-shadow: #0000001F;
}